
  <div class="center">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email, Correo Electronico </label>
        <input type="email" class="form-control" id="exampleFormControlInput1" 
        title="Ejemplo"
        placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Completar Los Datos Personales</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" 
         title="Debes Completar"
         rows="3"></textarea>
      </div>
    <button type="button" class="btn btn-primary" title="Comprar"  >
       <code class="code">
         {{ Comprar }}
       </code>
    </button>
</div>
